<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="ChargingLayout">

<head>
	<title>Bank Slip Search</title>
</head>

<section layout:fragment="content">
	<div class="alert alert-success alert-dismissible" role="alert" th:if="${!#strings.isEmpty(mensagem)}">
		<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
		<span th:text="${mensagem}"></span>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="clearfix">
				<h1 class="panel-title ar-bankslip-panel"><b>Bank Slip Search</b></h1>
				<a class="btn btn-link ar-link-panel" th:href="@{/bankslip/new}">New Bank Slip</a>
			</div>
		</div>
		
		<div class="panel-body">
			<form method="GET" class="form form-horizontal" th:object="${filter}">
				<div class="form-group">
					<div class="col-sm-4">
						<div class="input-group">
							<input class="form-control" placeholder="Which bank slip are you looking for?"
							 	autofocus="autofocus" th:field="*{description}" ></input>
							<span class="input-group-btn">
								<button type="submit" class="btn btn-default">
									<i class="glyphicon glyphicon-search"></i>
								</button>
							</span>
						</div>
					</div>
				</div>
			</form>

			<div class="table-responsive">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="text-center col-md-1">#</th>
							<th>Description</th>
							<th class="text-center col-md-2">Date</th>
							<th class="text-right  col-md-2">Value</th>
							<th class="text-center col-md-2">Status</th>
							<th class="col-md-1"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="bankSlip : ${bankSlips}">
							<td class="text-center" th:text="${bankSlip.id}"></td>
							<td th:text="${bankSlip.description}"></td>
							<td class="text-center" th:text="${{bankSlip.date}}"></td>
							<td class="text-right" th:text="|R$ ${{bankSlip.value}}|"></td>
							<td class="text-center" th:attr="data-role=${bankSlip.id}">
								<span class="label" th:text="${bankSlip.statusBankSlip.description}"
									th:classappend="${bankSlip.pending ?'label-danger':'label-success'}"></span>
							</td>
							<td class="text-center">
								<a class="btn btn-link btn-xs" th:href="@{/bankslip/{id}(id=${bankSlip.id})}" 
									title="Update" rel="tooltip" data-placement="top">
									<span class="glyphicon glyphicon-pencil"></span>
								</a>
								<a class="btn btn-link btn-xs" data-toggle="modal" data-target="#deleteConfimartionModal"
										th:attr="data-code=${bankSlip.id}, data-description=${bankSlip.description}"
										title="Delete" rel="tooltip" data-placement="top">
									<span class="glyphicon glyphicon-remove"></span>
								</a>
								<a class="btn btn-link btn-xs js-update-status" th:if="${bankSlip.pending}" 
									title="Receive" rel="tooltip" data-placement="top"
									th:attr="data-code=${bankSlip.id}"
									th:href="@{/bankslip/{id}/receive(id=${bankSlip.id})}">
									<span class="glyphicon glyphicon-check"></span>
								</a>
							</td>
						</tr>
						<tr>
							<td colspan="6" th:if="${#lists.isEmpty(bankSlips)}">No Bank Slip has been found</td>
						</tr>
						<!-- <tr th:each=""></tr> -->
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
	<div layout:include="DeleteConfirmationDialog"></div>
</section>
</html>